node_modules/
npm-debug.log*
yarn-debug.log*
.npm/
.yarn/
logs/
*.log
.env
.env.*.local
dist/
build/
public/build/ 
.DS_Store
.vscode/
*.sqlite
*.sqlite3
/data/
test.py
test_images/
garbage/
cli_test_output/
__pycache__/
uploads/
images/
*.mp3
generated/
test_video_generation.py